.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */
.navbar {
  color: black;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 16px;
  color: antiquewhite;
}
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 2px;
  color: black;
}

.navbar .nav-item {
  font-size: 10px;
  font-weight: 300;
  color: black;
}

.header-title {
  font-size: 10px;
  font-weight: 300;
  color: black;
}

/* wrapper */

.wrapper {
  background-color: #e6dacd;
  margin: 0;
  min-height: 600px;
  max-height: 100%;
}

.square_blue {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 10px;
  background: #0d50ff;
}

.header {
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 22px;
}

p {
  font-size: 12px;
}

.contact-card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  margin-top: 20px;
}

.resume-card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  margin-top: 40px;
}

/* resume  */
.resume-discription {
  text-decoration: underline;
}

.resume-discription {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: -2px;
  margin-top: 0px;
  border-radius: 0%;
  font-family: poppins;
  font-size: 12px;
}

.technical-skills {
  font-size: 12px;
  color: red;
}

.card-text {
  font-weight: light;
  font-size: 12px;
}

.card-date {
  font-weight: bolder;
  font-size: 15px;
  color: #0d50ff;
  margin-bottom: 2px;
  font-family: poppins;
}

.card-title {
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 2px;
  font-family: poppins;
}

.col-centered {
  text-align: center;
  float: inline-start;
}

.download {
  font-size: 5px;
  display: inline-block;
  margin-top: 0;
  margin-left: 70px;
  background-color: #0d50ff;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  color: white;
}
